{% extends "base.html" %}

{% block navbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style2.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Value</title>
  </head>
  <body>
    <div class="main">
      <div class="maincontainer">
        <div class="contentheader">
          <h1>THE MARKET CONSTANTLY CHANGES</h1>
          <h2>KEEP YOURSELF UPDATED</h2>
          <form id="HomeSearch" role="search">
            <input
              type="search"
              id="query"
              name="q"
              placeholder="Search Stocks Here..."
            />
          </form>
        </div>
        <h1 class="timeupdate">Updated: <span id="time"></span></h1>
        </div>
        <div class="biggestcontent"></div>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
{% endblock %}