{% extends "base.html" %}

{% block navbar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/style2.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Value</title>
</head>
<body>
    <h2 class="mostpopular">Most Popular</h2>
        <div class="changecontent">
          <!-- Seperate divs for grid use-->
          <div class="popular">
            APPL

            <div class="FullStockName">Apple Inc</div>
          </div>
          <div class="popular">
            EEE
            <br />
            <div class="FullStockName">S&P 500</div>
          </div>
          <div class="popular">
            MSFT
            <br />
            <div class="FullStockName">Microsoft Corp</div>
          </div>
          <div class="popular">
            DDD
            <br />
            <div class="FullStockName">Apple Inc</div>
          </div>
          <div class="popular">
            S&P
            <br />
            <div class="FullStockName">S&P 500</div>
          </div>
          <div class="popular">
            FFF <br />
            <div class="FullStockName">Apple Inc</div>
          </div>
          <div class="popular">
            S&P <br />
            <div class="FullStockName">S&P 500</div>
          </div>
          <div class="popular">
            FFF <br />
            <div class="FullStockName">Apple Inc</div>
          </div>
          <div class="popular">
            FFF <br />
            <div class="FullStockName">Apple Inc</div>
          </div>
          <div class="popular">
            S&P <br />
            <div class="FullStockName">S&P 500</div>
          </div>
          <div class="popular">
            FFF <br />
            <div class="FullStockName">Apple Inc</div>
          </div>
          <div class="popular">
            FFF <br />
            <div class="FullStockName">Apple Inc</div>
          </div>
        </div>
      
      </div>
</body>
</html>

{% endblock %}