*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;   
}

body{
    margin: 0px;
    
}
header{
    background-color: #292E49;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks, li, a{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -5px;
    margin-top: -5px;
}


 a:hover{
    background-color: hsl(206, 73%, 47%, 0.7);;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.cta{
    color: white;
    background-color: hsl(206, 73%, 47%);
    border-radius: 10px;
    padding: 8px;
    margin-right: 40px;
    font-size: 12px;
}
.cta:hover{
    color: black;
    border-radius: 10px;
    padding: 8px;
    margin-right: 40px;

}
.logoword{
    margin-left: 60px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}



/*contentheader -> market constantly changes area*/
.contentheader{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.contentheader h1, h2{
    margin: 3px;
    color: white;
    font-size: 26px;
    
}
.contentheader{
    background-image: linear-gradient(to bottom right, #292E49, #536976 
    );
    padding-bottom: 150px;
}
.contentheader h1{
    margin-top: 150px;
    
}
#HomeSearch{
    background-color: white;
  width: 750px;
  height: 40px;
  border-radius: 12px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}



input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

.timeupdate{
    margin-top: 10px;
    font-size: medium;
    color: black;
}

/*size of date/time only*/
#time{
    margin-right: 30px;
    font-size: small;
}

.main{
    background-color: hsl(216, 33%, 96%);
}

/* 'most popular header' */
.smaller-content-header{
    display: flex;
    margin-left: 300px;
}

/*grid for most popular area*/
.changecontent{
    
    padding: 30px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 300px);
    margin-left: 320px;
    
}
.popular{
    box-shadow: 0px 3px 5px #000;
    border-style: solid;
   border-width: 1px;
   border-color: black;
    font-size: 15px;
    color: #2185d0;
    background-color: white;
    padding-right:100px ;
    padding-bottom: 100px;
    padding-left: 130px;
    padding-top: 15px;
    border-radius: 6px;
    
}

.popular:hover{
    box-shadow: 10px 10px 25px #000;
    
    
}
.mostpopular{
    font-weight:bold;
    font-size: 17px;
    margin-top: 70px;
    margin-left: 375px;
    color: black;
    
}

.FullStockName{
    
    color: rgba(180, 180, 180,1);
    font-size: 12px;
}

