*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



li,  a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight:500 ;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

header{
    display:flex;
    flex-direction: row;
    /*controls header alignment*/
    column-gap: 700px;
    align-items: center;
    padding: 10px 2%;
}


.logoword{
    cursor:pointer;
    float: right;
    margin-top: 1px ;
    padding-left: 7px;
    font-size: 200%;
}


.logo{
    float:left;
    cursor: pointer;
    width: 35px;
}

/* listed items in navbar*/

.navlinks li {
    border-radius: 10px ;
    display: inline-block;
    padding: 9px 22px;
}
.navlinks li a:hover{
    background-color:#BEBEBE;
    border-radius: 10px;
    padding: 5px 5px;
}

/*get started*/

.cta, button:hover{
    cursor: pointer;
}
.cta, button{
    padding: 10px;
}


/*stock screener*/

.contentheader{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.refresh:hover{
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.refreshpic{
    width: 20px;
    background-color: white;
}

.refresh{
    display: inline-block;
    border: none;
    border-radius: 40px;
    margin-bottom: -9px;
    margin-right: 560px;
    padding: 0px ;
    font-size: x-small; 
}

.timeupdate{
    margin-bottom: -0.9%;
    font-size: large;
}
.screener{
    margin-bottom: -0.3%;
    padding-left: 4.2%;
    margin-left:800px;
    margin-right: 10px;
}
/* just updates the part showing the time*/

#time{
    font-size: small;
}

